.receipt-container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

/* .grid-header {
  display: grid;
  grid-template-columns: 2.5fr repeat(3,1fr);
  justify-items: start;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid #574F42;
} */

.receipt,
.grid-header {
  display: inline-grid;
  grid-template-columns: 2fr 0.5fr 1fr 1.5fr 0.5fr;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #574F42;
}

.receipt,
.grid-header {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  /* line-height: 14px;  */

  color: rgba(37, 37, 37, 0.75);
}

.chld_cnt1,
.receipt {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 14px;
  /* padding: 5px 0; */
  color: rgba(37, 37, 37, 0.75);
}
.receipt{
  padding: 5px 0px;
}
.line-item-container {
  display: inline-grid;
  grid-template-columns: 2fr 0.5fr 1fr 1.5fr 0.5fr;
  width: 100%;
  padding: 5px 0px;
  align-items: center;
  border-bottom: 2px solid #574F42;
}

.reason {
  background-color: #FFFBE9;
  color: rgb(73, 73, 73);
  border: none;
  padding: 10px 5px;
  align-content: end;
  /* width: 40%; */
  align-items: end;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  grid-column: 5/5;
  margin: 0 0.5rem;
}

.reason:hover {
  background-color: #dbd1bf;
}

.back{
  background-color: #FFFBE9;
  color: rgb(73, 73, 73);
  border: none;
  padding: 10px 5px;
  align-content: end;
  width: 10%;
  font-size: large;
  align-items: end;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  grid-column: 5/5;
  margin: 0 0.5rem;
}

.popup h4,
.reason-pop h4 {
  margin-bottom: 0 0;
}

.reason_text {
  max-width: 50rem;
  overflow: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.btn {
  cursor: pointer;
  color: #333;
  font-weight: normal;
}

.receipt-file-container{
  gap: 10px;
  display: grid;
  /* grid-template-rows: repeat(2,30px); */
  /* height: fit-content; */
  align-items: center;
}

.receipt-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: rgba(37, 37, 37, 0.75);
  
}

.receipt-size {
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: rgba(37, 37, 37, 0.75);

}

.sus,.su,.sustainable {
  cursor: pointer;
  /* color: yellow; */
  grid-column: 4/5;
  font-weight: normal;
}
.su {
  color: #ff1000;
}

.sus {
  color: #FFC229;
}

.sustainable {
  color: #4caf50;
}



.btn1 {
  background-color: #FFFBE9;
  color: rgb(73, 73, 73);
  border: none;
  padding: 10px 5px;
  align-content: end;
  /* width: 40%; */
  align-items: end;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  grid-column: 5/5;
  margin: 0 0.5rem;
}

.btn1:hover {
  background-color: #dbd1bf;
}

.recipt {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: bold;
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

}


.scrolls {
  overflow: auto;
  height: 53vh;
  margin: none;
}

.scrolls::-webkit-scrollbar {
  width: 100%;
}

.popup {
  display: grid;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.pop-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.pop-content {
  font-size: 1rem;
  text-align: center;
}

.pop-close {
  justify-self: center;
  align-self: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
}

.pop-close:hover {
  background-color: #999;
  color: white;
}

.reason-popup {
  display: grid;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 200px;
  background-color: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.reason-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.reason-pop-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0rem;
  text-align: center;
}

.reason-pop-content {
  font-size: 1rem;
  text-align: center;
}

.reason-pop-close {
  justify-self: center;
  align-self: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
}

.reason-pop-close:hover {
  background-color: #999;
  color: white;
}