.container{
    background-color: rgb(234, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
}

.chld_cnt1{

    background-color: rgb(134, 134, 227);
    display : flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

.btn{
    background-color: aliceblue;
    border: 0px;
    padding-top: 5px;
    padding-top: 5px;
    text-align: left;
   
}

.chld_cnt2{
    background-color: rgb(134, 134, 227);
    display : flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    
}

.lineItems{
    background-color: #f0eaea;
    font-size: 15px;
    scroll-behavior: auto;
    text-align: left;
    padding-left: 5px;
}
