/* body {
    background-color: #f5f6f9;
    color: rgb(102, 90, 188);
    font-family: Arial;
    position: fixed;
}

.right {
    background-color: #606e89;
    color: rgb(229, 228, 237);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.upload_btn {
    background-color: #e3e8f0;
    color: rgb(73, 56, 202);
    display: flex;
    flex-direction: row;
}

.back_btn {
    background-color: #e3e8f0;
    color: rgb(73, 56, 202);
    display: flex;
    flex-direction: row;
}

.rec_btn {
    background-color: #e3e8f0;
    color: rgb(73, 56, 202);
    display: flex;
    flex-direction: row;
}

.upload_frame2 {
    background-color: #04112d;
    color: rgb(229, 228, 237);
    font-family: Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
} */
