/* .subheading {
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle-title-edscription {
    font-size: 1.2rem;
    line-height: 1.5;
} */