/* body {
    background-color: #eeeff0;
    color: rgb(61, 56, 121);

    font-family: Arial;
    text-align: center;
}

.top{
    background-color: #a2baea;
    color: rgb(102, 90, 188);
    padding: 40px;
    font-family: Arial;
    text-align: center;
    top: 40px;
    left: 40px;
    position: fixed;
    width: 350px;
    height: 520px;
    border-radius: 20px;
  
  } */
