/* 
.upload-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #FAEDCD;
}

.upload-main {
  width: 761px;
  height: 545px;
  background-color: #FAEDCD;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

.upload1 {
  box-sizing: border-box;
  position: relative;
  width: 502.95px;
  border: 1px dashed #000000;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.upload-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}


.upload-dnd {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.file-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  display: grid;
  grid-template-columns: auto 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

li button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #808080;
}

li button:hover {
  color: #000000;
}

.cancel-all {
  width: 166.4px;
  height: 35px;
  background: #FFFBE9;
  border-radius: 5px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
  justify-self: start;
  align-self: end;
  margin-bottom: 10px;
}

.cancel-all:hover {
  background: #F2EEE2;
  cursor: pointer;
}

.attach-file {
  width: 166.4px;
  height: 35px;
  background: #C8AE94;
  border-radius: 5px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
  justify-self: end;
  align-self: end;
  margin-bottom: 10px;
}

.attach-file:hover {
  background: #B09880;
  cursor: pointer;
} */
