/* Overall container for the upload component */
.upload-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto auto;
    justify-content: center;
    align-content: center;
}

/* Title of the upload component */
.upload-title {
    margin: 0;
}

/* Main upload area with dashed border */
.upload1 {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    border: 2px dashed #000000;
    border-radius: 20px;
    padding: 1rem;
}

/* Drag-and-drop area */
.upload-dnd {
    margin: 0.5rem 0;
}

.selected-file {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

/* Header for the selected files list */
.selected-file h4 {
    margin: 0;
}

.scroll {
    height: 180px;
    overflow-y: auto;
    /* padding-right: 1rem;
    padding-left: 1rem; */
    /* margin-top: 10px; */
}


.scroll::-webkit-scrollbar {
    width: 1px;
}

/* .scroll::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #C8AE94;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #A38F7F;
} */

/* List of selected files */
.file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
    /* Set a fixed height and allow overflow to make the list scroll */

}

/* Individual file item in the list */
.file-list li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    border: 2px solid #C8AE94;
    border-radius: 20px;
}

/* Cancel button for a single file */
.cancel-single-file {
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

/* Container for the buttons at the bottom */
.upload-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 1rem;
}

/* Cancel all button */
.cancel-all {
    background-color: #FFFBE9;
    color: #242424;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Attach file button */
.attach-file {
    background-color: #C8AE94;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Button hover styles */
.cancel-all:hover,
.attach-file:hover {
    background-color: #FFFBE9;
    color: #232323;
}

/* Spacing between the buttons */
.cancel-all {
    margin-right: 0.5rem;
}

.attach-file {
    margin-left: 0.5rem;
}