/* .App {
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: right;
}
.logout{
  position : absolute;
  bottom : 466px;
  left: 1130px;

  height: 100px;
  width : 320px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  font-size: 40px;

  color: azure;
  background-color: crimson;

  border : 0px;
  border-radius: 20px;

}
.main{
  background-color: rgb(207, 207, 228);
  display: grid;
  display : flex;
  flex-direction: rows;

  width: 100vw;
  height: 100vh;

}
.left{
  background-color: rgb(235, 219, 219);
  
  display: flex;
  flex-direction: columns;
  place-self: left;
  width: 30%;
  height: 80%;
  top : 20%;
  
  border-radius: 20px;
}
.right{
  background-color: #d26928;
  color: rgb(229, 228, 237);
  display: flex;
  flex-direction: columns;
  width: 30%;
  height: 80%;
  border-radius: 20px;
} 
.center{
  background-color: #1a63f3;
  color: rgb(229, 228, 237);
  display: flex;
  flex-direction: columns;
  width: 30%;
  height: 80%;
  border-radius: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  background-color: #b9c0e3;
  width: 25%;
  height: 100vh;
}

.center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload_btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.back_btn {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.to_bill {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.rec_btn {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Styles for the 'Hello right' heading */
.right h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the 'Init', 'Upload', and 'Receipt' sections */
.center > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
}