/* .main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  background-color: #b9c0e3;
  width: 25%;
  height: 100vh;
}

.center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload_btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.back_btn {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.to_bill {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.rec_btn {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.right h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.center > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #005fa3;
} */
.App {
  width: 100%;
  height: 100vh;
  background: #E3CAA5;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

